body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 110px;
    margin: 0; 
    color: #cc3333;
    vertical-align: middle;
    transition: color 0.3s ease;
    display: inline-block; 
}

h1:hover {
    color: #cc3333;
}

.triangle {
    font-size: 100px;
    vertical-align: text-top; 
    margin-top: -20px; 
    display: inline-block;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

a {
    color: #d40000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
